.header{
    height: 60px;
    display: flex;
    align-items: center;
    background: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header__logo{
    display: flex;
    align-items: center;
    color:#ff9f00;
    margin: 0 25px;
}
.header__logoImg{
    margin-right: 10px;
}
.header__logoTitle{
    text-decoration: none;
    border:0;
    color: white;
}
.header__search{
    display: flex;
    flex:1;
    align-items: center;
    border-radius: 4px;
    margin: 0px 10px;
    background: white;
}
.header__searchInput{
    padding: 0em 1em;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    background: transparent;
    outline:none;
    border:none;
    width: 100%;
}
.header__searchWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 100%;
    background-color: #ff9f00;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}

.header__nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav__item{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color:white;
}
.nav__itemLIneOne{
    font-size: 10px;
}

.nav__itemLineTwo{
    font-size: 13px;
    font-weight: 800;
}
.nav__itemBasket{
    display: flex;
    align-items: center;
    color:white;
    margin-right: 50px;
    margin-left: 10px;
}
.nav__basketCount{
    margin: 0px 10px;
}